body {
      background-image: url('https://i.postimg.cc/SR41pyh5/sayang-transbg.png');
      /* background-image: url('sayangcrisscross.png'); */
      background-repeat: repeat;
      padding-top: 120px; 
    }